---
import type { NavItem } from "@jsp/shared/types";
import { isActivePath, cn } from "@jsp/shared/utils";
import Nav from "./Nav.astro";

type Props = {
  item: NavItem;
  curPath?: string;
  level?: number;
};

const { item, curPath, level = 0 } = Astro.props;
const isActive = isActivePath(curPath, item?.path);
const isDisabled = !item.path;
---

<li class="nav-item">
  {
    item.path ? (
      <a
        href={item.path}
        class={cn("nav-link", isActive && "active", isDisabled && "disabled")}
      >
        {item.label}
      </a>
    ) : (
      <span class="nav-link disabled">{item.label}</span>
    )
  }

  {
    item.children?.length && (
      <Nav navItems={item.children} level={level + 1} curPath={curPath} />
    )
  }
</li>
