---
import type { NavItem } from "@jsp/shared/types";
import NavItemView from "./NavItemView.astro";

type Props = {
  items: NavItem[];
  curPath?: string;
  className: string;
  level?: number;
  title?: string;
};

const { items, curPath, className, level = 0, title } = Astro.props;
---

{title && <div class="nav-label">{title}</div>}
<ul class={className} data-level={level}>
  {
    items.map((item, i) => (
      <NavItemView item={item} curPath={curPath} level={level} />
    ))
  }
</ul>
